.container {
  background-color: skyblue;
  padding: 20px;
}

.red-paragraph {
  color: red;
}


.first-para {
  background-color: black;
  color: white;
  padding: 0px;
}

.list-items li:nth-child(odd) {
  background-color: white;
}

.list-items li:nth-child(even) {
  background-color: lightgray;
}

.list-items li:nth-child(3) {
  background-color: pink;
}

.last-para {
  color: red;
  padding: 20px;
}
